.header {
  height: 60px;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  position: fixed;
  left: 220px;
  right: 0;
  top: 0;
  z-index: 2;
}

.logout-btn {
  padding: 8px 12px;
  border: none;
  background: #e63946;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
